{
  // preset是从右往左执行，plugin是从左往右执行，并且plugin先于preset。
  "presets": [
    [
      "@babel/preset-env",
      {
        // 将 ES6 module 转换为其他模块规范，可选 "adm" | "umd" | "systemjs" | "commonjs" | "cjs" | false，默认为 false = Babel的预案（preset）默认会将任何模块类型都转译成CommonJS类型
        // "modules": false,
        // 根据项目使用和浏览器target 按需使用polyfill
        "useBuiltIns": "usage", // usage-按需引入 entry-入口引入（整体引入） false-不引入polyfill 
        // 仅当与useBuiltIns: usage或一起使用时有效果, 支持第三阶段提案
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    // 按需引入
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "css"
      },
      "ant"
    ],
    // 解决装饰器
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    // 解析 class 语法
    "@babel/plugin-proposal-class-properties",
    // https://babeljs.io/docs/en/next/babel-plugin-syntax-dynamic-import.html
    // 用以解析识别import()动态导入语法 -- 也就是懒加载
    "@babel/plugin-syntax-dynamic-import",
    // 添加 __self 作为props 到 jsx 元素上， react 会根据次作出一些警告
    "@babel/plugin-transform-react-jsx-self",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
// 好文备用： 
// 不容错过的 Babel7 知识： https://juejin.im/post/5ddff3abe51d4502d56bd143?utm_source=gold_browser_extension
// Babel7 转码（四）- polyfill 还是 transform-runtime：  https://segmentfault.com/a/1190000020237790